@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudDrawer id="navbar" @bind-Open="_drawerOpen" Elevation="1" Width="500px" style=" align-items: center; justify-content: center;">
        <MudDrawerHeader style="align-items: center; justify-content: center;">
            <MudText Style="font-size: 400%; color: white;l" Typo="Typo.h6">GCM</MudText>
        </MudDrawerHeader>
        <div class="nav">
            <NavMenu />
        </div>
        
        <div class="section">
            <div class="usersettings">
                <a onclick="handleIconClick()">
                    <i class="fa-solid fa-gear" ></i>
                </a>
            </div>
            <div class="dots">
                <span class="dot">

                </span>
                <span class="dot">

                </span>
            </div>
        </div>
    </MudDrawer >
    <MudMainContent id="main">
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<style>

    .mud-drawer
    {
        background-color: #211f26;
    }

    .usersettings
    {
        display: flex;
        align-items: flex-end;
        z-index: 2;
    }
    .nav
    {
        align-content: center;
        background-color: #211f26;
    }

    .section {
        flex: 1;
        overflow: hidden;
        box-sizing: border-box;
        text-align: start;
        position: relative;
        padding-right: 242px;
        padding-left: 242px;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
    }

        /* Styles for the first dot */
        .dot:nth-child(1) {
            height: 442px;
            width: 442px;
            background-color: #B72626;
            bottom: -10%; /* Position in the vertical center of the first section */
            left: -25%; /* Position in the horizontal center of the first section */
        }

        /* Styles for the second dot */
        .dot:nth-child(2) {
            height: 335px;
            width: 335px;
            background-color: #A72525;
            bottom: -15%; /* Position in the vertical center of the first section */
            left: 40%; /* Position in the horizontal center of the first section */
            z-index: 1; /* Ensure the second dot is above the first */
        }
</style>

@code {
    bool _drawerOpen = true;

}