@{
    bool useDarkTheme = true;
    string themeBackgroundColor = useDarkTheme ? "#211f26" : "#dbd4c6";
    string themeTextColor = useDarkTheme ? "#FFFFF0" : "#776B5D";
}

<MudNavMenu>
    <div class="navbar">
        <div class="nav-item">
            <MudNavLink id="navbarlink" Href="dashboard" Match="NavLinkMatch.All" Size="Size.Medium" Style="color: #fffff0;">
                <span style="margin-right: 8px;"><i class="fa-solid fa-bars"></i></span> Home
            </MudNavLink>
        </div>
        <div class="nav-item">
            <MudNavLink id="navbarlink" Href="miners" Match="NavLinkMatch.Prefix" Size="Size.Medium" Style="color: #fffff0;">
                <span style="margin-right: 8px;"><i class="fa-solid fa-network-wired"></i></span> Maintenance
            </MudNavLink>
        </div>
        <div class="nav-item">
            <MudNavLink id="navbarlink" Href="metrics" Match="NavLinkMatch.All" Size="Size.Medium" Style="color: #fffff0;">
                <span style="margin-right: 8px;"><i class="fa-solid fa-microchip"></i></span> Metrics
            </MudNavLink>
        </div>
    </div>
</MudNavMenu>



<style>

    /*Kleiner Bereich Links, in dem Links sind*/
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: @themeBackgroundColor !important;
        color: @themeTextColor !important;
        border-radius: 10px;
        padding: 10px;
    }

    /*Jedes Item*/
    .nav-item {
        width: 50%;
        text-align: center;
        margin-bottom: 15px;
        font-size: 145%;
    }

    /* Rund um die Navbar Items */
    .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
        color: #FFFFF0 !important;
        background-image: linear-gradient(180deg, @themeBackgroundColor 50%, #B72626 100%);
        border-radius: 40px;
        margin-top: -5px;
        margin-bottom: -5px;
    }
</style>
