<MudNavMenu >
    <div>   
        <MudNavLink id="navbarlink" Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" IconColor="Color.Default">Home</MudNavLink>
        <MudNavLink id="navbarlink" Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Counter</MudNavLink>
        <MudNavLink id="navbarlink" Href="fetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Fetch data</MudNavLink>
    </div>
    

</MudNavMenu>
